extends layout

block content
	h1= title
	p Welcome to #{title}
	if user
		section#container
			section#chat
				section#messages
				br
				section#say
					input
	else
		section#conect
			a(href='/auth/facebook') Login with facebook
			a(href='/auth/twitter') Login with twitter